@using OpenHomeEnergyManager.Blazor.Infrastructure.HttpClients.ChargePoints.Shared

<MudCard>
	<MudCardHeader>
		<CardHeaderContent>
			<MudText Typo="Typo.h5">@ChargePoint.Name</MudText>
		</CardHeaderContent>
	</MudCardHeader>
	<div style="position:relative">
		<MudCardMedia Image="@($"api/Images/{ChargePoint.Image}")" Height="450" />
		@if ((_vehicle is not null) && (_vehicle.Image is not null))
		{
	  <MudPaper Elevation="3" Class="ma-2" Style="position: absolute; right: 10px; bottom: 10px; height: 100px; width: 150px; overflow: hidden" @onclick="AttributeVehicle">
	   <MudElement HtmlTag="img" src="@($"api/Images/{_vehicle.Image}")" Style="height: 100px; margin-left: 50%; transform: translateX(-50%); " />
	  </MudPaper>
		}
		else
		{
	  <MudPaper Elevation="3" Class="ma-2 d-flex justify-center align-center" Style="position: absolute; right: 10px; bottom: 10px; height: 100px; width: 150px;" @onclick="AttributeVehicle">
				@if (_vehicle is not null)
				{
		   <MudText Typo="Typo.body2">@_vehicle.Name</MudText>
				}
				else
				{
		   <MudIcon Icon="@Icons.Material.Filled.Block" Color="Color.Default" Size="Size.Large" />
				}
	  </MudPaper>
		}
 </div>
 <MudCardContent>

		@if (_vehicleNow is not null)
		{
	  <MudGrid>
	   <MudItem xs="4" Class="d-flex py-2 px-1">
		<MudPaper Class="flex-grow-1">
		 <MudGrid>
		  <MudItem xs="6">
								@switch (PhaseCount)
								{
									case 1:
				   <MudIcon Icon="@Icons.Material.Filled.Filter1" />
										break;
									case 2:
				   <MudIcon Icon="@Icons.Material.Filled.Filter2" />
										break;
									case 3:
				   <MudIcon Icon="@Icons.Material.Filled.Filter3" />
										break;
									default:
										break;
								}
		  </MudItem>
		  <MudItem xs="6"><MudText Typo="Typo.button">@Current</MudText></MudItem>
		 </MudGrid>
		</MudPaper>
	   </MudItem>
	   <MudItem xs="4" Class="d-flex py-2 px-1">
		<MudPaper Class="flex-grow-1"><MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" ChartOptions="_chartOptions" Class="small-power-chart"></MudChart></MudPaper>
	   </MudItem>
	   <MudItem xs="4" Class="d-flex py-2 px-1">
		<MudPaper Class="flex-grow-1"></MudPaper>
	   </MudItem>
	  </MudGrid>

			@*<MudContainer Class="px-0 mt-3 d-flex justify-space-between">
				<MudBadge Content="@("A")" Color="Color.Secondary" Overlap="true">
				<MudChip Label="true" Color="Color.Dark" Variant="Variant.Outlined" Style="min-width: 75px;">
				<MudText Typo="Typo.caption">@(PhaseCount)x</MudText> <MudText Typo="Typo.button">@Current</MudText>
				</MudChip>
				</MudBadge>
				<MudBadge Content="@("W")" Color="Color.Secondary" Overlap="true">
				<MudChip Label="true" Color="Color.Dark" Variant="Variant.Outlined" Style="min-width: 75px;">
				<MudText Typo="Typo.button">@Power</MudText>
				</MudChip>
				</MudBadge>
				<MudBadge Content="@("%")" Color="Color.Secondary" Overlap="true">
				<MudChip Label="true" Color="Color.Dark" Variant="Variant.Outlined" Style="min-width: 75px;">
				<MudText Typo="Typo.button">@_vehicleNow.StateOfCharge / @_vehicleNow.ChargeLimit</MudText>
				</MudChip>
				</MudBadge>
				</MudContainer>*@
		}
 </MudCardContent>
 <MudCardActions>
  <MudGrid>
   <MudItem>
	<MudButton Variant="@(IsCurrentChargeMode(ChargeModesDto.Direct) ? Variant.Filled : Variant.Outlined)" Color="Color.Secondary" OnClick="@(() => SetChargeMode(ChargeModesDto.Direct))">Direct</MudButton>
	<MudButton Variant="@(IsCurrentChargeMode(ChargeModesDto.Excess) ? Variant.Filled : Variant.Outlined)" Color="Color.Tertiary" OnClick="@(() => SetChargeMode(ChargeModesDto.Excess))">Excess</MudButton>
	<MudButton Variant="@(IsCurrentChargeMode(ChargeModesDto.Stop) ? Variant.Filled : Variant.Outlined)" Color="Color.Error" OnClick="@(() => SetChargeMode(ChargeModesDto.Stop))">Stop</MudButton>
   </MudItem>
  </MudGrid>
 </MudCardActions>
</MudCard>
